body {
  background-color: #eee;
  color: #888; }

.smallBlueSquare {
  width: 20px;
  height: 20px;
  background-color: blue; }

.bigRedSquare, .borderedSquare {
  width: 300px;
  height: 300px;
  background-color: red; }

.frame:hover {
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg); }

.borderedSquare {
  border: 5px solid #333;
  margin: 60px auto; }

.buttonBase, .button1, .button2, .button3, .button4 {
  width: 160px;
  height: 48px;
  color: white;
  border: 2px solid #333; }

.button1 {
  background-color: darkred; }

.button1:hover {
  background-color: red; }

.button2 {
  background-color: darkgreen; }

.button2:hover {
  background-color: green; }

.button3 {
  background-color: darkblue; }

.button3:hover {
  background-color: blue; }

ul {
  list-style: none; }
  ul li {
    padding: 15px;
    display: inline-block; }
    ul li a {
      text-decoration: none;
      font-size: 16px;
      color: #444; }

.button4 {
  background-color: #2196F3; }

.button4:hover {
  background-color: #0960a5; }

#sidebar {
  width: 240px; }

/*# sourceMappingURL=demo.css.map */
