body {
  padding: 10px;
  box-sizing: border-box; }

#startButton {
  width: 100%;
  height: 120px;
  background-color: palegreen;
  color: white;
  font-size: 48px;
  font-weight: bold;
  font-family: "Arial"; }

/*# sourceMappingURL=virtualCar.css.map */
