.roundCorners {
	border-radius: 12px;
}

.disparateCorners {
	border-radius: 32px 9px 0px 17px;
}

.container {
	text-align: center;
	margin: 100px 0;
}

.container div {
	background-color: darkgreen;
	width: 200px;
	height: 100px;
	text-align: center;
	display: inline-flex;
  	justify-content: center;
  	align-items: center;
}
.container div p {
	font-family: "Helvetica";
	font-size: 14px;
	color: white;
}

#borderImg {
    border: 10px solid transparent;
    border-image: url("../images/border.png") 30 round;
    padding: 15px;
    width: 400px;
    margin: 0 auto;
}

#textShadow {
    color: white;
    text-shadow: 2px 2px 4px #000000, -3px -3px 18px #99AADD;
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
}

#boxShadow {
    box-shadow: 4px 4px 7px darkslateblue;
    background-color: #EEE;
    height: 100px;
    width: 200px;
}


@font-face {
   font-family: myFirstFont;
   src: url(sansation_light.woff);
}

.webFont {
	font-family: myFirstFont;
}



.webFont {
   font-family: "Indie Flower", cursive;
   font-size: 18px;
}

#bgImageContainer {
	background: url(../images/img_flwr.gif) right bottom no-repeat,
				url(../images/paper.gif) left top repeat;

	width: 500px;
	height: 250px;
	text-align: left;
	padding: 15px;
	margin: 100px;
}

@keyframes detailed {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

#animated {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: red;
    animation-name: detailed;
    animation-duration: 5s;
    animation-delay: 2s;
}


