$mainBGColor: #eee;
$mainFGColor: #888;


body {
	background-color: $mainBGColor;
	color: $mainFGColor;
}


@mixin square($size, $color) {
	width: $size;
	height: $size;
	background-color: $color;
}

.smallBlueSquare {
	@include square(20px, rgb(0,0,255));
}

.bigRedSquare {
	@include square(300px, rgb(255,0,0));
}

@mixin transformTilt($degrees) {
	$tilt: rotate($degrees);

	-webkit-transform: $tilt;
	-ms-transform: $tilt;
	transform: $tilt;
}

.frame:hover { 
	@include transformTilt(15deg); 
}


.borderedSquare {
	@extend .bigRedSquare;
	border: 5px solid #333;
	margin: 60px auto;
}

.buttonBase {
	width: 160px;
	height: 48px;
	color: white;
	border: 2px solid #333;
}

.button1 {
	@extend .buttonBase;
	background-color: darkred;
}
.button1:hover {
	background-color: red;
}

.button2 {
	@extend .buttonBase;
	background-color: darkgreen;
}
.button2:hover {
	background-color: green;
}

.button3 {
	@extend .buttonBase;
	background-color: darkblue;
}
.button3:hover {
	background-color: blue;
}


ul {
	list-style: none;

	li {
		padding: 15px;
		display: inline-block;

		a {
			text-decoration: none;
			font-size: 16px;
			color: #444;
		}
	}
}

$awesomeBlue: #2196F3;

.button4 {
	@extend .buttonBase;
	background-color: $awesomeBlue;
}

.button4:hover {
	background-color: darken($awesomeBlue, 20%);
}

$col-width: 40px;
$gutter-width: 10px;

@function grid-width($n) {
  @return $n * $col-width + ($n - 1) * $gutter-width;
}

#sidebar { width: grid-width(5); }


